<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <TextStyle Id="UIResultFont_Fail" FaceName="Tahoma" Size="8" Red="200" Green="0" Blue="0"  />
      <TextStyle Id="UIResultFont_Ok" FaceName="Tahoma" Size="8" Red="0" Green="160" Blue="00"  />

      <Dialog Id="CheckHardwareDlg" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)" NoMinimize="yes">
        <Control Id="HardwareLabel" Type="Text" X="45" Y="70" Width="100" Height="15" TabSkip="no" Text="Hardware check:" />
        <Control Id="HCheckLabel_fail" Type="Text" X="120" Y="70" Width="100" Height="15" TabSkip="no" Text="{\UIResultFont_Fail}FAIL">
          <Condition Action="hide"><![CDATA[HARDWARECHECK_RESULT = "1"]]></Condition>
        </Control>
        <Control Id="HCheckLabel_ok" Type="Text" X="120" Y="70" Width="100" Height="15" TabSkip="no" Text="{\UIResultFont_Ok}OK">
          <Condition Action="hide"><![CDATA[HARDWARECHECK_RESULT = "0"]]></Condition>
        </Control>

        <Control Id="SoftwareLabel" Type="Text" X="45" Y="85" Width="100" Height="15" TabSkip="no" Text="Software check:" />
        <Control Id="SCheckLabel_fail" Type="Text" X="120" Y="85" Width="100" Height="15" TabSkip="no" Text="{\UIResultFont_Fail}FAIL">
          <Condition Action="hide"><![CDATA[SOFTWARECHECK_RESULT = "1"]]></Condition>
        </Control>
        <Control Id="SCheckLabel_ok" Type="Text" X="120" Y="85" Width="100" Height="15" TabSkip="no" Text="{\UIResultFont_Ok}OK">
          <Condition Action="hide"><![CDATA[SOFTWARECHECK_RESULT = "0"]]></Condition>
        </Control>

        <Control Id="CheckResultText" Type="Edit" X="45" Y="120" Width="314" Height="100" Multiline="yes" TabSkip="no" Property="CHECK_RESULT_TEXT">
          <Condition Action="hide"><![CDATA[CHECK_RESULT_TEXT = ""]]></Condition>
        </Control>

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Property="WixUI_InstallMode" Value="InstallCustom">1</Publish>
        </Control>

        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Check hardware and software...</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Check hardware</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>
