<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductLongName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="405" Platform="x64" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Icon Id="amd_icon.ico" SourceFile=".\amd_icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="amd_icon.ico" />

    <Condition Message="[ProductName] requires 64 bit Windows Vista or higher.">
      VersionNT64 >= 600
    </Condition>

    <MediaTemplate EmbedCab="yes" />

    <Binary Id='InstallerDll' SourceFile='$(var.InstallerDll)' />
    <!-- Preparation stage actions -->
    <CustomAction Id='CollectInstalledBlenderEntries' BinaryKey='InstallerDll' DllEntry='collectInstalledBlenderEntries' />
    <CustomAction Id='GetBlenderEntriesForUninstall' BinaryKey='InstallerDll' DllEntry='getBlenderEntriesForUninstall' />
    <!-- Actual Blender+registry manipulations -->
    <CustomAction Id='PostInstall' BinaryKey='InstallerDll' DllEntry='postInstall' Return="ignore" />
    <CustomAction Id='PostUnInstall' BinaryKey='InstallerDll' DllEntry='postUnInstall' Return="ignore" />

    <!-- pre-installation checks -->
    <InstallUISequence>
      <!-- INSTALL: Locate/ask for target compatible Blender executable for plugin installation -->
      <Custom Action="CollectInstalledBlenderEntries" Before="LaunchConditions">(NOT Installed) AND (NOT REMOVE)</Custom>
      <!-- MODIFY/UNINSTALL: check via stored registry entry -->
      <Custom Action="GetBlenderEntriesForUninstall" Before="LaunchConditions">Installed OR REMOVE</Custom>
      <!-- TODO: add MODIFY support -->
    </InstallUISequence>

    <!-- in instalation process & uninstall from control panel -->
    <InstallExecuteSequence>
      <!-- INSTALL -->
      <Custom Action="PostInstall" After="InstallFinalize">(NOT Installed) AND (NOT REMOVE)</Custom>
      <!-- UNINSTALL -->
      <Custom Action="PostUnInstall" After="InstallFinalize">Installed AND REMOVE</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="$(var.ProductLongName)" Level="1" Display="expand">
      <ComponentGroupRef Id="CG_BLENDER_ADDON" />
      <ComponentRef Id='StartMenuShortcuts' />
      <MergeRef Id="Microsoft_VC140_CRT_x64" />

      <!-- Display found Blender entries on final installation settings screen -->
      <Feature Id="Blender280" Title="Blender 2.80 addon" ConfigurableDirectory="BLENDER_280_INSTALL_FOLDER" Absent="allow">
      </Feature>
      <Feature Id="Blender281" Title="Blender 2.81 addon" ConfigurableDirectory="BLENDER_281_INSTALL_FOLDER" Absent="allow">
      </Feature>
      <Feature Id="Blender282" Title="Blender 2.82 addon" ConfigurableDirectory="BLENDER_282_INSTALL_FOLDER" Absent="allow">
      </Feature>

      <Condition Level="1">
        <![CDATA[BLENDER_VERSION_COMPATIBLE AND BLENDER_VERSION_COMPATIBLE = "1"]]>
      </Condition>
    </Feature>

    <UI Id="MyWixUI_Mondo">
      <UIRef Id="WixUI_Wizard" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value=".\agreement.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value=".\rpr_banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value=".\rpr_dialog.png" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id="AMD" Name="$(var.Manufacturer)">
          <Directory Id="PLUGINS" Name="$(var.ProductsFolder)">
            <Directory Id="INSTALLFOLDER" Name="Blender" >
            </Directory>

            <Merge Id="Microsoft_VC140_CRT_x64" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\Microsoft_VC140_CRT_x64.msm" Language="0" DiskId="1" />
          </Directory>
        </Directory>
      </Directory>

       <!-- Addon will be registered only for these path entries info that are correct and compatible. Should point at blender.exe -->
      <Directory Id="BLENDER_280_INSTALL_FOLDER">
      </Directory>
      <Directory Id="BLENDER_281_INSTALL_FOLDER">
      </Directory>
      <Directory Id="BLENDER_282_INSTALL_FOLDER">
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramProductMenuDir" Name="$(var.Manufacturer)">
          <Component Id="StartMenuShortcuts" Guid="95C47859-9626-486F-9252-440CCE7A3DF2">
            <Shortcut Id="StartMenuShortcuts.Uninstall"
                      Name="Uninstall $(var.ProductName)"
                      Target="[SystemFolder]msiexec.exe"
                      Arguments="/x [ProductCode]"
                      Description="Uninstalls $(var.ProductName)">
            </Shortcut>
            <RemoveFolder Id="ProgramProductMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="StartMenuShortcuts" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
