[submodule "RadeonProRenderSDK"]
	path = RadeonProRenderSDK
	url = git@github.com:Radeon-Pro/RadeonProRenderSDK.git
[submodule "RadeonProImageProcessingSDK"]
	path = RadeonProImageProcessingSDK
	url = git@github.com:Radeon-Pro/RadeonProImageProcessingSDK.git
[submodule "RadeonProRenderSharedComponents"]
	path = RadeonProRenderSharedComponents
	url = git@github.com:Radeon-Pro/RadeonProRenderSharedComponents.git
