__pycache__

# idea
.idea
.idea/workspace.xml
/.idea/dictionaries

# build
.build
CMakeFiles

# tests
/prof
/.rprtrace_*
/failures*
.cache
.core_cache
.core_trace

# addon
configdev.py
rprblender.log

# RPR
tahoe.log
src/bindings/pyrpr/src/*.json
src/bindings/pyrpr/src/*.pp
src/bindings/pyrpr/src/*.xml
# fix these later
rprapi.pp
rprapi.xml

# installer stuff
/system
build_output/
/Installer/PluginInstaller/Generated/AddOn.wxs
/Installer/PluginInstaller/Generated/MatLibrary.wxs
/output
/dist
.DS_Store

*.sdf
*.v12.suo

#
*.bak
*.opensdf
*.suo
*.user
*.ipch

bindings-ok

kernelsCache/

vscode/


/src/rprblender/utils/athena.bin
