__pycache__

# idea
.idea
.idea/workspace.xml
/.idea/dictionaries

# build
.sdk
.build
CMakeFiles

# tests
/prof
/.rprtrace_*
/failures*
.cache
.core_cache
.core_trace

# addon
configdev.py
rprblender.log

# RPR
tahoe.log
src/bindings/pyrpr/src/*.json
src/bindings/pyrpr/src/*.pp
src/bindings/pyrpr/src/*.xml
# fix these later
rprapi.pp
rprapi.xml

# installer stuff
/system
build_output/
/Installer/PluginInstaller/Generated/AddOn.wxs
/Installer/PluginInstaller/Generated/MatLibrary.wxs
/output
/dist
.DS_Store

*.sdf
*.v12.suo

#
*.bak
*.opensdf
*.suo
*.user
*.ipch

bindings-ok

kernelsCache/
.hybrid_cache
.tex_cache

vscode/
/venv
/tmp

/src/rprblender/utils/athena.bin

# test_script
blender_files
ground_truth
cmd_tools/test_script/.env
cmd_tools/test_script/*.sh
cmd_tools/test_script/old
cmd_tools/test_script/Render_Output
cmd_tools/test_script/assets
*.vscode

# test_script
blender_files
ground_truth
cmd_tools/test_script/.env
cmd_tools/test_script/*.sh
cmd_tools/test_script/old
cmd_tools/test_script/Render_Output
*.vscode