<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
     <title>AMD Radeon ProRender Blender Addon</title>
     <license file="eula.txt"/>
     <welcome file="welcome.html"/>
    <pkg-ref id="com.amd.rpr.inst-blender.app"/>
    <options customize="never" require-scripts="false"/>
    <choices-outline>
        <line choice="default">
            <line choice="com.amd.rpr.inst-blender.app"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="com.amd.rpr.inst-blender.app" visible="false">
        <pkg-ref id="com.amd.rpr.inst-blender.app"/>
    </choice>
    <pkg-ref id="com.amd.rpr.inst-blender.app" version="0" onConclusion="none">RadeonProRenderAddon-2.0.32.pkg</pkg-ref>
</installer-gui-script>
